<%- include('../partials/header.ejs') %>
    <!--
        main section
    -->
    <main>
        <%= %>
       <section class="event">
           <div class="event-menu-container">
            <% if(output.rsvps>0){ %>
                <h3>Count of RSVP 'yes' : <span id="rsvp-count"><%= output.rsvps %></span></h3>
            <% }else{%>
                <h3>No one has done RSVP 'yes' to the event</h3><br>
            <%} %>
            <% if(userInfo && userInfo['id']==output.hostName._id) { %>
                    <form>
                        <button class="rsvp-btn-no" type="submit" formmethod="POST" formaction="/connections/<%= output._id%>?_method=DELETE">Delete</button>
                        <button class="rsvp-btn-maybe" type="submit" formmethod="GET" formaction="/connections/<%= output._id%>/edit">Update</button>
                    </form>
                <% } else {%>
                    <h3>RSVP to attend!</h3>
                    <form action="">
                        <button class="rsvp-btn-yes" class="rsvp-btn" type="submit" formmethod="POST" formaction="/connections/<%= output._id%>/rsvp?commitment=yes">Yes</button>
                        <button class="rsvp-btn-maybe" class="rsvp-btn" type="submit" formmethod="POST" formaction="/connections/<%= output._id%>/rsvp?commitment=maybe">Maybe</button>
                        <button class="rsvp-btn-no" class="rsvp-btn" type="submit" formmethod="POST" formaction="/connections/<%= output._id%>/rsvp?commitment=no">No</button>
                    </form>
                <% } %>
           </div>
           <h2 class="event-title">
                <%= output.title%>
           </h2>
            <div class="event-info">
                <div class="event-info-left">
                    <img class="event-picture" src="<%= output.image%>" alt="event picture">
                </div>
                <div class="event-info-right">
                    <p class="event-info-basics">
                        Hosted by: <em><%= output.hostName.firstName + " " + output.hostName.lastName %></em><br>
                        Category: <em><%= output.category%></em><br>
                        <%= output.startTime%> to <%= output.endTime%> (24 hour format)<br>
                        on <%= output.date%> <br>
                        <%= output.location%>
                    </p>
                </div>
                <div class="event-info-bottom">
                    <p class="event-detail">
                        <%= output.details%>
                    </p>
                </div>
            </div>
       </section>
    </main>
    <!--
        footer section
    -->
    <%- include('../partials/footer.ejs') %>